*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  --background-color: hotpink;
  --foreground-color: darkblue;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--foreground-color);
}
